workflows/oO1vKdTN8GL2N9Ws.json
{
  "createdAt": "2023-12-15T16:59:13.025Z",
  "updatedAt": "2023-12-15T16:59:13.025Z",
  "id": "oO1vKdTN8GL2N9Ws",
  "name": "Scrape and summarize webpages with AI",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "27a20291-0ea7-4e21-8c42-3ef331cbd688",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://www.paulgraham.com/articles.html",
        "options": {}
      },
      "id": "840e9acf-ec4c-4056-9045-dacb4a2b0545",
      "name": "Fetch essay list",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        600,
        240
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "=data",
        "extractionValues": {
          "values": [
            {
              "key": "essay",
              "cssSelector": "table table a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "7634b195-cf1b-4a88-b303-a45051e778a8",
      "name": "Extract essay names",
      "type": "n8n-nodes-base.html",
      "position": [
        820,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=http://www.paulgraham.com/{{ $json.essay }}",
        "options": {}
      },
      "id": "4db24311-c371-4eb8-9581-0307aedc524e",
      "name": "Fetch essay texts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1480,
        240
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "fieldToSplitOut": "essay",
        "options": {}
      },
      "id": "61dc3262-47d1-4fd3-9c93-0f9c7ca546d3",
      "name": "Split out into items",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        1040,
        240
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6a7dd81a-adce-45bd-9304-bfc89a256a99",
      "name": "Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        1820,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo-instruct",
        "options": {}
      },
      "id": "01622be2-acd3-428f-8a1c-d70bfa89c3dc",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmOpenAi",
      "position": [
        1800,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pointers": "=",
        "options": {}
      },
      "id": "8c366c2a-dc42-4597-a748-3685bdddd40f",
      "name": "JSON Input Loader",
      "type": "@n8n/n8n-nodes-langchain.documentJsonInputLoader",
      "position": [
        1940,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7d902f65-609c-42e4-8607-7f7aa276c47a",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        2080,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "limit",
        "maxItems": 3
      },
      "id": "0ffdeefa-f637-41c8-af0c-a5c1cac5e48d",
      "name": "Limit to first 3",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        1260,
        240
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "title"
            }
          ]
        },
        "options": {}
      },
      "id": "1e6465c0-44d1-400f-8a60-d106f8481339",
      "name": "Extract title",
      "type": "n8n-nodes-base.html",
      "position": [
        1820,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "67368ceb-a4b5-4326-ac3b-65c9940033d9",
      "name": "Merge title and summary",
      "type": "n8n-nodes-base.merge",
      "position": [
        2260,
        220
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "title",
              "stringValue": "={{ $json.title }}"
            },
            {
              "name": "summary",
              "stringValue": "={{ $json.response.text }}"
            },
            {
              "name": "url",
              "stringValue": "=http://www.paulgraham.com/{{ $('Limit to first 3').item.json.essay }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "96689c45-ee65-42f5-9961-b7657ecbf837",
      "name": "Clean up",
      "type": "n8n-nodes-base.set",
      "position": [
        2480,
        220
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "## Scrape latest Paul Graham essays",
        "height": 285.66037735849045,
        "width": 1071.752021563343
      },
      "id": "e0f8a43a-45a9-4d87-90a1-abbcb9acdf86",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Summarize them with GPT",
        "height": 606.7924528301882,
        "width": 465.3908355795153
      },
      "id": "09163a22-15f0-4e7e-a0fc-3995a820dcb2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1740,
        160
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract title": {
      "main": [
        [
          {
            "node": "Merge title and summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch essay list": {
      "main": [
        [
          {
            "node": "Extract essay names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to first 3": {
      "main": [
        [
          {
            "node": "Fetch essay texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch essay texts": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Input Loader": {
      "ai_document": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract essay names": {
      "main": [
        [
          {
            "node": "Split out into items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Merge title and summary",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split out into items": {
      "main": [
        [
          {
            "node": "Limit to first 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge title and summary": {
      "main": [
        [
          {
            "node": "Clean up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Fetch essay list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "JSON Input Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4b5cb9bc-f5af-45a2-bd34-56260b81b7db",
  "triggerCount": 0,
  "tags": []
}