workflows/pw6xAYk2CeUAIpvL.json
{
  "createdAt": "2023-12-28T15:57:36.937Z",
  "updatedAt": "2023-12-28T16:04:15.709Z",
  "id": "pw6xAYk2CeUAIpvL",
  "name": "Scrape and store data from multiple website pages",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        380,
        240
      ],
      "typeVersion": 1,
      "id": "a2228e8b-626e-4b04-bd1f-b8d460d1cadd"
    },
    {
      "parameters": {
        "url": "https://www.theswiftcodes.com/browse-by-country/",
        "responseFormat": "string",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        840,
        240
      ],
      "typeVersion": 1,
      "id": "a54076f8-e3cf-4e18-9d63-fd6bd5de66fb"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "countries",
              "cssSelector": "ol > li > a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        1030,
        240
      ],
      "typeVersion": 1,
      "id": "cc5c3bdc-4498-411e-b48e-4385cb7effc0"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1430,
        240
      ],
      "typeVersion": 1,
      "id": "aa66d809-02f2-4b57-853a-3aacfed563d8"
    },
    {
      "parameters": {
        "url": "={{$node[\"Set\"].json[\"url\"]}}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2770,
        160
      ],
      "typeVersion": 1,
      "id": "1cfc013d-9541-4257-9552-b8317ec9332e"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "next_button",
              "cssSelector": "span.next > a",
              "returnValue": "attribute",
              "attribute": "href"
            },
            {
              "key": "names",
              "cssSelector": "td.table-name",
              "returnArray": true
            },
            {
              "key": "swifts",
              "cssSelector": "td.table-swift",
              "returnArray": true
            },
            {
              "key": "cities",
              "cssSelector": "td.table-city",
              "returnArray": true
            },
            {
              "key": "branches",
              "cssSelector": "td.table-branch",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract1",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        3270,
        10
      ],
      "typeVersion": 1,
      "id": "d4914bf5-9b7b-4bf8-8c4c-552d9f72a7e6"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "swifts.meetup",
        "fields": "iso_code,country,page,name,branch,city,swift_code,createdAt,updatedAt",
        "options": {
          "dateFields": "createdAt,updatedAt"
        }
      },
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "position": [
        3800,
        10
      ],
      "typeVersion": 1,
      "id": "c8329adc-830c-41cb-b809-88fb9574eee1"
    },
    {
      "parameters": {
        "group": "geographic",
        "tool": "getCountryNormalized",
        "country": "={{$node[\"SplitInBatches\"].json[\"country\"].replace(/[\\/0-9]/g, \"\")}}",
        "additionalOptions": {}
      },
      "name": "uProc",
      "type": "n8n-nodes-base.uproc",
      "position": [
        1620,
        240
      ],
      "typeVersion": 1,
      "id": "1f7e8429-5126-4ab7-8a06-c7bd65e3b002"
    },
    {
      "parameters": {
        "functionCode": "var newItems = [];\n\nfor (i = 0; i < items[0].json.swifts.length; i++) {\n  var item = {\n    iso_code: $node['uProc'].json.message.code,\n    country: $node['SplitInBatches'].json.country.replace(/[-\\/0-9]/g, \"\"),\n    page: $node['Set Page to Scrape'].json.page,\n    name: items[0].json.names[i],\n    city: items[0].json.cities[i],\n    branch: items[0].json.branches[i],\n    swift_code: items[0].json.swifts[i],\n    createdAt: new Date(),\n    updatedAt: new Date()\n  }\n  newItems.push({json: item});\n}\n\nreturn newItems;\n\n"
      },
      "name": "Prepare Documents",
      "type": "n8n-nodes-base.function",
      "position": [
        3450,
        10
      ],
      "typeVersion": 1,
      "id": "31ecac28-d9c7-4edd-ae31-e5ac9f5e27f6"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"] + \"\"}}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "More Countries",
      "type": "n8n-nodes-base.if",
      "position": [
        3330,
        520
      ],
      "typeVersion": 1,
      "id": "4b72fb77-faae-446e-9a7e-630ca30e4b9c"
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\n\nitem.page = \"\";\nif (staticData.page && staticData.page.length) {\n  item.page = staticData.page;\n} else {\n  item.page = $node['SplitInBatches'].json.country;\n}\nreturn item;\n"
      },
      "name": "Set Page to Scrape",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        1810,
        100
      ],
      "typeVersion": 1,
      "id": "938d6149-4b73-4994-b0f9-774ae7c7e234"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"more_pages\"] + \"\"}}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "More Pages",
      "type": "n8n-nodes-base.if",
      "position": [
        3590,
        440
      ],
      "typeVersion": 1,
      "id": "8ef06ebd-7300-44d4-a3fb-c8754763e78f"
    },
    {
      "parameters": {
        "functionCode": "var next_page = $node['HTML Extract1'].json.next_button && $node['HTML Extract1'].json.next_button.length ? $node['HTML Extract1'].json.next_button : \"\";\nvar more_pages = next_page.length > 0;\nconst staticData = getWorkflowStaticData('global');\n\n//all current items are after date: needs pagination\nif (more_pages) {\n  staticData.page = next_page;\n} else {\n  //don't check more items in previous pages;\n  delete staticData.page;\n}\n\nreturn [\n  {\n    json: {\n      more_pages: more_pages\n    }\n  }\n];\n"
      },
      "name": "Set More Pages",
      "type": "n8n-nodes-base.function",
      "position": [
        3990,
        10
      ],
      "typeVersion": 1,
      "id": "1d7db0e9-b10a-4278-9773-fcd7499f2d81"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "=https://www.theswiftcodes.com{{$node[\"Set Page to Scrape\"].json[\"page\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        1960,
        100
      ],
      "typeVersion": 1,
      "id": "6c775c19-ad27-4f8b-a689-a8b258d32a32"
    },
    {
      "parameters": {
        "functionCode": "var generateNameFromUrl = function(url){\n    return url.replace(/[^a-z0-9]/gi, \"_\");\n}\n\nitem.file = generateNameFromUrl(item.url) + \".html\"\nreturn item;"
      },
      "name": "Generate filename",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        2120,
        30
      ],
      "typeVersion": 1,
      "id": "fb91fb1b-0985-4da7-8f44-e38f60cb86aa"
    },
    {
      "parameters": {
        "filePath": "=/home/node/.cache/scrapper/{{$json[\"file\"]}}"
      },
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        2290,
        30
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "5fc482f6-38a5-49e1-8295-bde4abe8876e",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Read Binary File\"].binary.data.mimeType}}",
              "value2": "text/html"
            }
          ]
        }
      },
      "name": "File exists?",
      "type": "n8n-nodes-base.if",
      "position": [
        2470,
        30
      ],
      "typeVersion": 1,
      "id": "1074dfa1-91ee-49dc-b95c-fb31bf88e03f"
    },
    {
      "parameters": {
        "fileName": "=/home/node/.cache/scrapper/{{$node[\"Generate filename\"].json[\"file\"]}}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        2920,
        160
      ],
      "typeVersion": 1,
      "id": "402e3a6f-0edb-4b41-ae02-d85ee7dd6a1e"
    },
    {
      "parameters": {
        "filePath": "=/home/node/.cache/scrapper/{{$json[\"file\"]}}"
      },
      "name": "Read Binary File1",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        3090,
        10
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "35f3f026-e997-470c-b05a-b82b6f75f485",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const waitTimeSeconds = 1;\n\nreturn new Promise((resolve) => {\n  setTimeout(() => {\n    resolve([]);\n  }, waitTimeSeconds * 1000);\n});\n"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.function",
      "position": [
        2610,
        160
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "de012ed9-84f4-4d06-8896-16aba21a5a08",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "return items[0].json.countries.map(function(country) {\n  return {\n  json: {country: country}\n  }\n});"
      },
      "name": "Prepare countries",
      "type": "n8n-nodes-base.function",
      "position": [
        1220,
        240
      ],
      "typeVersion": 1,
      "id": "c50f336d-deb9-4fa8-b872-e16e57902298"
    },
    {
      "parameters": {
        "command": "mkdir -p  /home/node/.cache/scrapper/"
      },
      "name": "Create Directory",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        580,
        240
      ],
      "typeVersion": 1,
      "id": "3871dbde-a9ad-447f-a5f3-1ea3acbcf168",
      "continueOnFail": true
    },
    {
      "parameters": {
        "collection": "swifts.meetup",
        "options": {},
        "query": "={\"swift_code\": \"{{$json[\"swift_code\"]}}\"}"
      },
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "position": [
        3600,
        -140
      ],
      "executeOnce": false,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "373b61c2-d30d-4941-8272-c48a002b295e",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://topai.tools/t/khojgpt-com",
        "responseFormat": "string",
        "options": {}
      },
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        600,
        -360
      ],
      "typeVersion": 1,
      "id": "b2c0c8c6-f1f1-4c5e-b5b8-b0e72f2b506d"
    },
    {
      "parameters": {
        "url": "https://topai.tools/t/khojgpt-com",
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {}
          }
        }
      },
      "id": "9d771d9e-df1d-4452-be01-5121b265b420",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        -80
      ]
    }
  ],
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Generate filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uProc": {
      "main": [
        [
          {
            "node": "Set Page to Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "Set More Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Pages": {
      "main": [
        [
          {
            "node": "Set Page to Scrape",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "More Countries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File exists?": {
      "main": [
        [
          {
            "node": "Read Binary File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Prepare countries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract1": {
      "main": [
        [
          {
            "node": "Prepare Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Countries": {
      "main": [
        [],
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set More Pages": {
      "main": [
        [
          {
            "node": "More Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "uProc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Directory": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "File exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate filename": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Documents": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare countries": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File1": {
      "main": [
        [
          {
            "node": "HTML Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File": {
      "main": [
        [
          {
            "node": "Read Binary File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Page to Scrape": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "bf1c8a9c-00be-4164-ac76-a2907bb3e832",
  "triggerCount": 0,
  "tags": []
}