workflows/xd30UM3KuScKlSsJ.json
{
  "createdAt": "2024-04-21T10:44:59.716Z",
  "updatedAt": "2024-04-23T09:36:48.345Z",
  "id": "xd30UM3KuScKlSsJ",
  "name": "🌐 PUBLISH TG @UACyberSec - EN",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "a2e2d3cf-bdc7-4106-939e-b483302709a3",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -240,
        -320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 17
            }
          ]
        }
      },
      "id": "e08a3b62-a979-495b-bbe8-7391f86fadb6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -220,
        -20
      ]
    },
    {
      "parameters": {
        "url": "https://newsdata.io/api/1/news?apikey=pub_363106941b906edfe4399a7ef237fed07f221&language=en&category=crime,technology&q=\"Cyber%20Security\"",
        "options": {}
      },
      "id": "e54205e8-61ba-4304-af4c-9a0c247bc32b",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        40,
        -440
      ]
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?apiKey=3c660e442c9c4d49bc017652c9930f77&q=\"Cyber Security\"&sortBy=popularity&language=en",
        "options": {}
      },
      "id": "2609d7fd-c590-492a-b571-8388a9377475",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        20,
        -240
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {
          "disableDotNotation": false
        }
      },
      "id": "943adf99-1c77-42b6-a1b0-9674b8267e03",
      "name": "Item results",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        300,
        -420
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "title",
              "stringValue": "={{ $json.title }}"
            },
            {
              "name": "url",
              "stringValue": "={{ $json.link }}"
            },
            {
              "name": "description",
              "stringValue": "={{ $json.description }}"
            },
            {
              "name": "image",
              "stringValue": "={{ $json.image_url }}"
            },
            {
              "name": "keywords",
              "stringValue": "={{ $json.keywords[0] }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "e7926649-9c3c-4026-8eec-5c49bbe66cbb",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        540,
        -420
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "title",
              "stringValue": "={{ $json.title }}"
            },
            {
              "name": "url",
              "stringValue": "={{ $json.url }}"
            },
            {
              "name": "description",
              "stringValue": "={{ $json.description }}"
            },
            {
              "name": "image",
              "stringValue": "={{ $json.urlToImage }}"
            },
            {
              "name": "keywords",
              "stringValue": "={{ $json.keywords[0] }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "93870699-b5ef-4f56-90ee-dd42ba3ab10c",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        540,
        -240
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {
          "disableDotNotation": false
        }
      },
      "id": "3d19e53d-c4b2-4545-975a-8e2c46ebe838",
      "name": "Item articles",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        300,
        -240
      ]
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": "url",
        "options": {}
      },
      "id": "094e8a5c-f08e-46dd-9713-c6ef09dbd27f",
      "name": "Item News",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        800,
        -460
      ]
    },
    {
      "parameters": {
        "amount": 27,
        "unit": "minutes"
      },
      "id": "36074712-943b-43a8-b316-f15d0eaf0bda",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2280,
        -20
      ],
      "webhookId": "fd3b0ed3-bb57-43a5-9961-774ade5f1cf8"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1001717290208",
        "file": "={{ $('POST').item.json.image }}",
        "additionalFields": {
          "caption": "={{ $json.text }}...\n\n#Cyber_Security #Кібербезпека 🛡️ <a href=\"https://t.me/UACyberSec\">CyberSecurity UA</a> ",
          "disable_notification": false,
          "parse_mode": "HTML"
        }
      },
      "id": "3bdb985d-10d1-41ce-bd9a-89214028520b",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2060,
        -300
      ],
      "credentials": {
        "telegramApi": {
          "id": "ryZyf6CxWwRKg1nM",
          "name": "txtHiveHub SMM @txtHiveHub_Publisher_bot"
        }
      }
    },
    {
      "parameters": {
        "text": "=<a href=\"{{$json.link_translate }}\">{{ $json.title }}</a>\n\n{{ $json.description.slice(0,900)}}",
        "translateTo": "UK",
        "additionalFields": {
          "sourceLang": "EN-US",
          "splitSentences": "0",
          "preserveFormatting": "0",
          "formality": "default"
        }
      },
      "id": "f027eb45-1f13-43bf-b563-e1a89ced9fef",
      "name": "DeepL",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        2060,
        -100
      ],
      "credentials": {
        "deepLApi": {
          "id": "GZJwFmcMcYvzOCXa",
          "name": "DeepL affprn+tg_UACyberSec@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "link_translate",
              "stringValue": "={{$json.link.replace($json.link.extractDomain(),$json.link.extractDomain().replaceAll(\"-\", \"--\").replaceAll(\".\", \"-\")+'.translate.goog')}}&_x_tr_sl=en&_x_tr_tl=uk&_x_tr_hl=uk&_x_tr_pto=wapp"
            }
          ]
        },
        "options": {}
      },
      "id": "8c18d3a9-f667-409d-a554-9cd74194ac77",
      "name": "GT Link",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1820,
        -100
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dc46e38d-a7e6-4c03-accd-01fa4ed09b55",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1080,
        -320
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Object.keys($json).length}}\n\n\n\n\n",
              "operation": "smallerEqual"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "d0605564-0dc1-467e-b8f4-071bcba8e11f",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1600,
        -280
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11JwIy-K16K5fqbA_MervHVhItWaZniA1U6slTTW5ZJo",
          "mode": "list",
          "cachedResultName": "Publish TG Post - @UACyberSec - CyberSecurity UA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11JwIy-K16K5fqbA_MervHVhItWaZniA1U6slTTW5ZJo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "published_url",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ar8yR33owZDrDm9dhFO8_hV6eb4JwmLSsjcAvwk0gwE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "url",
              "lookupValue": "={{ $json.url }}"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          },
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "id": "3661f08e-9cd4-42df-afff-61c1ddbdec75",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1320,
        -280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9jUJUskNggToilib",
          "name": "Google Sheets affprn@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11JwIy-K16K5fqbA_MervHVhItWaZniA1U6slTTW5ZJo",
          "mode": "list",
          "cachedResultName": "Publish TG Post - @UACyberSec - CyberSecurity UA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11JwIy-K16K5fqbA_MervHVhItWaZniA1U6slTTW5ZJo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "published_url",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ar8yR33owZDrDm9dhFO8_hV6eb4JwmLSsjcAvwk0gwE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('POST').item.json.link }}",
            "date": "={{ Date.now() }}",
            "link": "=https://t.me/{{ $json.result.sender_chat.username }}/{{ $json.result.message_id }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "cellFormat": "RAW",
          "useAppend": false
        }
      },
      "id": "25752ffa-ccb9-4b5b-a667-6b476f47cc5b",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        2300,
        -300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9jUJUskNggToilib",
          "name": "Google Sheets affprn@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $('NEWS').item.json.title }}"
            },
            {
              "name": "link",
              "value": "={{ $('NEWS').item.json.url }}"
            },
            {
              "name": "description",
              "value": "={{ $('NEWS').item.json.description }}"
            },
            {
              "name": "image",
              "value": "={{ $('NEWS').item.json.image }}"
            }
          ]
        },
        "options": {}
      },
      "name": "POST",
      "type": "n8n-nodes-base.set",
      "position": [
        1800,
        -300
      ],
      "typeVersion": 1,
      "id": "5c52b332-4d91-464e-9ec3-f322f11c286c"
    },
    {
      "parameters": {},
      "id": "a7a7210b-6e30-4424-beae-3dc8107ed314",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1240,
        -480
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "maxItems": 10
      },
      "id": "4ca3b748-62e6-42c4-b8a0-7f05e3d6df1f",
      "name": "NEWS",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        860,
        -120
      ]
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Item results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item results": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Item articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item articles": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item News": {
      "main": [
        [
          {
            "node": "NEWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepL": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GT Link": {
      "main": [
        [
          {
            "node": "DeepL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "POST",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST": {
      "main": [
        [
          {
            "node": "GT Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NEWS": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Item News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "global": {
      "oldRSSIds": [
        "Wed, 10 Jan 2024 10:11:25 +0000",
        "Wed, 10 Jan 2024 08:23:14 +0000",
        "Tue, 09 Jan 2024 12:32:22 +0000",
        "Tue, 09 Jan 2024 11:48:20 +0000",
        "Tue, 09 Jan 2024 11:14:10 +0000",
        "Tue, 09 Jan 2024 10:12:35 +0000",
        "Tue, 09 Jan 2024 09:05:32 +0000",
        "Tue, 09 Jan 2024 08:55:36 +0000",
        "Tue, 09 Jan 2024 06:36:44 +0000",
        "Tue, 09 Jan 2024 06:32:16 +0000",
        "Tue, 09 Jan 2024 06:12:59 +0000",
        "Tue, 09 Jan 2024 05:48:45 +0000",
        "Mon, 08 Jan 2024 11:53:42 +0000",
        "Mon, 08 Jan 2024 11:02:58 +0000",
        "Mon, 08 Jan 2024 09:14:09 +0000",
        "Mon, 08 Jan 2024 08:12:07 +0000",
        "Mon, 08 Jan 2024 06:44:35 +0000",
        "Mon, 08 Jan 2024 06:29:47 +0000",
        "Mon, 08 Jan 2024 05:38:44 +0000",
        "Sun, 07 Jan 2024 12:38:11 +0000",
        "Sun, 07 Jan 2024 10:41:17 +0000",
        "Sun, 07 Jan 2024 07:09:20 +0000",
        "Sun, 07 Jan 2024 07:01:46 +0000",
        "Sat, 06 Jan 2024 08:47:15 +0000",
        "Sat, 06 Jan 2024 08:32:51 +0000",
        "Fri, 05 Jan 2024 11:53:57 +0000",
        "Fri, 05 Jan 2024 11:17:28 +0000",
        "Fri, 05 Jan 2024 08:36:09 +0000",
        "Fri, 05 Jan 2024 08:11:50 +0000",
        "Fri, 05 Jan 2024 07:03:41 +0000",
        "Fri, 05 Jan 2024 06:36:50 +0000",
        "Fri, 05 Jan 2024 06:20:04 +0000",
        "Fri, 05 Jan 2024 05:40:56 +0000",
        "Thu, 04 Jan 2024 12:25:49 +0000",
        "Thu, 04 Jan 2024 11:19:26 +0000",
        "Thu, 04 Jan 2024 11:10:42 +0000",
        "Thu, 04 Jan 2024 09:27:20 +0000",
        "Thu, 04 Jan 2024 07:47:21 +0000",
        "Thu, 04 Jan 2024 07:02:23 +0000",
        "Thu, 04 Jan 2024 06:33:42 +0000",
        "Thu, 04 Jan 2024 05:56:30 +0000",
        "Wed, 03 Jan 2024 13:07:04 +0000",
        "Wed, 03 Jan 2024 13:03:40 +0000",
        "Wed, 03 Jan 2024 11:15:08 +0000",
        "Wed, 03 Jan 2024 11:10:29 +0000",
        "Wed, 03 Jan 2024 08:49:16 +0000",
        "Wed, 03 Jan 2024 06:45:17 +0000",
        "Wed, 03 Jan 2024 06:41:52 +0000",
        "Tue, 02 Jan 2024 10:40:41 +0000",
        "Tue, 02 Jan 2024 10:29:42 +0000",
        "Tue, 02 Jan 2024 08:23:47 +0000",
        "Tue, 02 Jan 2024 08:16:37 +0000",
        "Tue, 02 Jan 2024 07:21:41 +0000",
        "Tue, 02 Jan 2024 06:45:51 +0000",
        "Tue, 02 Jan 2024 06:11:21 +0000",
        "Tue, 02 Jan 2024 04:51:25 +0000",
        "Mon, 01 Jan 2024 18:47:15 +0000",
        "Mon, 01 Jan 2024 09:22:52 +0000",
        "Mon, 01 Jan 2024 09:14:43 +0000",
        "Sun, 31 Dec 2023 06:55:50 +0000",
        "Sun, 31 Dec 2023 05:56:35 +0000",
        "Sat, 30 Dec 2023 10:28:43 +0000",
        "Sat, 30 Dec 2023 06:25:53 +0000",
        "Fri, 29 Dec 2023 11:50:54 +0000",
        "Fri, 29 Dec 2023 10:31:13 +0000",
        "Fri, 29 Dec 2023 09:28:01 +0000",
        "Fri, 29 Dec 2023 08:26:51 +0000",
        "Fri, 29 Dec 2023 07:46:19 +0000",
        "Fri, 29 Dec 2023 06:22:49 +0000",
        "Fri, 29 Dec 2023 06:08:14 +0000",
        "Thu, 28 Dec 2023 10:29:51 +0000",
        "Thu, 28 Dec 2023 08:05:11 +0000",
        "Thu, 28 Dec 2023 08:02:20 +0000",
        "Thu, 28 Dec 2023 06:45:37 +0000",
        "Thu, 28 Dec 2023 06:26:44 +0000",
        "Thu, 28 Dec 2023 05:08:16 +0000",
        "Wed, 27 Dec 2023 14:04:48 +0000",
        "Wed, 27 Dec 2023 12:53:58 +0000",
        "Wed, 27 Dec 2023 12:10:26 +0000",
        "Wed, 27 Dec 2023 11:37:53 +0000",
        "Wed, 27 Dec 2023 10:01:36 +0000",
        "Wed, 27 Dec 2023 08:04:44 +0000",
        "Wed, 27 Dec 2023 06:26:31 +0000",
        "Tue, 26 Dec 2023 08:19:52 +0000",
        "Tue, 26 Dec 2023 06:24:01 +0000",
        "Mon, 25 Dec 2023 18:30:58 +0000",
        "Mon, 25 Dec 2023 15:30:27 +0000",
        "Mon, 25 Dec 2023 12:30:22 +0000",
        "Sun, 24 Dec 2023 18:30:01 +0000",
        "Mon, 25 Dec 2023 13:17:00 +0530",
        "Thu, 21 Dec 2023 00:00:00 -0500",
        "Sun, 24 Dec 2023 11:18:00 +0530",
        "Fri, 22 Dec 2023 08:00:00 -0500",
        "Fri, 22 Dec 2023 22:17:00 +0530",
        "Fri, 22 Dec 2023 18:49:00 +0530",
        "Thu, 21 Dec 2023 12:26:42 -0500",
        "Fri, 22 Dec 2023 18:16:00 +0530",
        "Fri, 22 Dec 2023 13:16:00 +0530",
        "Fri, 22 Dec 2023 11:04:00 +0530",
        "Thu, 21 Dec 2023 22:18:00 +0530",
        "Thu, 21 Dec 2023 18:08:00 +0530",
        "Thu, 21 Dec 2023 16:23:00 +0530",
        "Thu, 21 Dec 2023 15:33:00 +0530",
        "Thu, 21 Dec 2023 12:52:00 +0530",
        "Thu, 21 Dec 2023 09:11:00 +0530",
        "Wed, 20 Dec 2023 19:02:00 +0530"
      ]
    },
    "node:RSS Feed Trigger 1": {
      "lastTimeChecked": "2024-01-12T16:21:43Z"
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "e0db3a8d-0a0b-4b73-89da-6866202df1f0",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2023-12-15T16:47:26.778Z",
      "updatedAt": "2023-12-15T16:47:26.778Z",
      "id": "DZepKhqVkcCmMGpQ",
      "name": "telegram"
    },
    {
      "createdAt": "2023-12-15T16:47:29.732Z",
      "updatedAt": "2023-12-15T16:47:29.732Z",
      "id": "ioGKSviA9beOvB8G",
      "name": "news"
    },
    {
      "createdAt": "2024-01-12T14:40:58.106Z",
      "updatedAt": "2024-01-12T14:40:58.106Z",
      "id": "OPCEAoxpjAP3twTI",
      "name": "UACyberSec"
    }
  ]
}